<% include ./partials/header %>
<h1><%= category %></h1>
<br>
<div class="row text-center flex-wrap" id="categoryUsedStuff-grid">
    <% categoryUsedStuffs.reverse().forEach(function(categoryUsedStuff){ %>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="/<%= categoryUsedStuff._id %>">
                <div class="thumbnail">
                    <%var str = "data:" + categoryUsedStuff.image.contentType + ";base64, " + categoryUsedStuff.image.data;%>
                    <div class="imgbackground" style='background-image: url("<%=str%>")'></div>
                    <div class="caption" class="row">                        
                        <p>
                            <span class="left" style="color:green; font-size:medium; font-weight:bold">
                                $<%=categoryUsedStuff.cost%>
                            </span>
                        </p>
                    </div>                    
                    <div class="caption" class="row">                        
                        <p>
                            <span class="left" style="color:black; font-size:medium;">
                                <% var stuffName = categoryUsedStuff.name;
                                    if(categoryUsedStuff.name.length > 20) {
                                        stuffName = categoryUsedStuff.name.substring(0,20) + "...";
                                }%>
                                <%=stuffName%>
                            </span>
                            <br>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>